#!/usr/bin/env bash

CHANGED_PYTHON_FILES=$(git diff --cached --name-only --diff-filter=ACMR | grep ".py\$")

if [ -z "$CHANGED_PYTHON_FILES" ]
then
   echo "No Python files found."
   exit 0
fi

set -e

flake8 $CHANGED_PYTHON_FILES

echo "All checks successfully passed."