# we need this is being installed first, `paramiko` will install `cryptography==43.0.3` by itself, but
# `scapy~=2.5.0rc2` cannot work with `43.0.3`, i.e. `ModuleNotFoundError: No module named 'cryptography.hazmat.backends.openssl.ec'`
cryptography==38.0.2

pycryptodomex>=3.4
scapy~=2.5.0rc2
tinyec>=0.3.1
paramiko~=3.5.0
subprocess32
websockets==13.1
wrk
h2>=4.0.0
hyperframe>=6.0.0
wemake-python-styleguide>=0.16.1
pycodestyle==2.8.0
requests~=2.32.3
pre-commit==2.20.0
isort==5.12.0
black==25.12.0
inquirer~=3.4.0
parameterized~=0.9.0
clickhouse-connect==0.8.11
psutil~=5.9.8
pyroute2==0.9.1
rich~=13.9.4
hpack~=4.1.0

# install mhddos requirements
-r tools/mhddos/requirements.txt
