pycryptodomex>=3.4
scapy~=2.5.0rc2
tinyec>=0.3.1
paramiko
subprocess32
websockets
wrk
h2>=4.0.0
hyperframe>=6.0.0
wemake-python-styleguide>=0.16.1
pycodestyle==2.8.0
requests
pre-commit==2.20.0
isort==5.12.0
black==23.1.0
inquirer

