[General]
# This section refer to testing framework itself.

# IPv4 and IPv6 addresses of the host that runs the testing framework.
# This is the address deproxy's server will be listening at.
# This value will be used internally, in command lines and configuration files.
#
# ex.: ip = 192.168.11.6 (default 127.0.0.1)
#
ip = 127.0.0.1
ipv6 = ::1

# Verbose level:
# 0 - quiet mode, result of each test is shown by symbols:
#   `.` - passed,
#   `F` - failed,
#   `u` - unexpected success,
#   `x` - expected failure.
#   `s` - skipped;
# 1 - Show test names;
# 2 - Show tests names and performance counters;
# 3 - Full debug output.
#
# ex.: verbose = 2 (default 0)
#
verbose = 1

# Duration of every single test involving HTTP benchmarks utilities, in seconds.
# Use small values to obtain results quickly add large for more heavy stress
# tests. Default is 10 seconds.
#
# ex.: duration = 60 (default 10)
#
duration = 10

# Number of concurrent connections for HTTP benchmarks utilities.
# Larger values stress TempestaFW better, but require more resources.
#
# ex.: concurrent_connections = 10 (default 10)
#
concurrent_connections = 10

# Number of threads for HTTP stress tests - number CPU cores to use.
#
# ex.: stress_threads = 8 (default 2)
#
stress_threads = 2

# Large response content size in stress tests, bytes.
#
# ex.: stress_large_content_length = 1048576 (default 65536)
#
stress_large_content_length = 65536

# Number of requests to make for stress tasts
#
# ex.: stress_requests_count = 1000 (default 100)
#
stress_requests_count = 100


# MTU value to set for network interfaces for stress tests.
# 0 - do not change value.
#
# ex.: stress_mtu = 80 (default 0)
#
stress_mtu = 0

# Absolte or cwd-relative path to a log file to tee (duplicate) tests' stderr to.
#
# ex.: log_file = /tmp/log.txt (default tests_log.txt)
log_file = tests_log.txt

# Path to temporary file on remote node (if any), e.g. TLS certificates
# generated by the framework.
#
# ex.: workdir = /tmp/host (default /tmp/host)
#
workdir = /tmp/host

# Body size in MB for long body tests.
long_body_size = 500


[Client]
# Configuration for the HTTP clients. Clients are always ran locally.
# Note: in some tests, HTTP servers are also ran locally using this configuration
# (disregarding [Server] section).

# IPv4 and IPv6 addresses of this host in the test network, as reachable from the host
# running TempestaFW.
# This value will be used internally, in command lines and configuration files.
#
# It's important to set different IPs for Tempesta and clients when testing
# ip_block Frang directive on the Loopback interface (which is default),
# because otherwise Netfilter can block what was not intended.
#
# ex.: ip = 192.168.11.6 (default 127.0.0.1)
#
ip = 127.0.0.1
ipv6 = ::1

# Absolute path to the working (temporary) directory on this host.
#
# ex.: workdir = /home/user/client (default /tmp/client)
#
workdir = /tmp/client

# Binaries of utilities used for testing. Must be present in PATH or
# absolute paths must be given.

# Apache Benchmark binary.
#
# ex.: ab = /usr/bin/ab (default ab)
#
ab = ab

# cURL binary.
#
# ex.: curl = /usr/bin/curl (default curl)
#
curl = curl

# cURL version. Set to override runtime version check.
#
# curl_version = 7.85.0
#

# wrk benchmark utility.
#
# ex.: wrk = /home/user/wrk/wrk (default wrk)
#
wrk = wrk

# h2spec conformance testing tool for HTTP/2 implementation.
#
# ex.: h2spec = /home/user/bin/h2spec
#
h2spec = h2spec

# h2load load testing tool (nghttp2).
#
# ex.: h2load = /home/user/bin/h2load
#
h2load = h2load

# TLS handshakes benchmarking tool.
#
# ex.: tls-perf = /home/user/bin/tls-perf
#
tls-perf = tls-perf


[Tempesta]
# Configuration for the host running TempestaFW. It may be configured to run
# locally or remotely (using SSH). Refer to README.md for more information.

# IPv4 and IPv6 addresses of the host running TempestaFW in the test network,
# as reachable from this host.
# This value will be used internally, in command lines and configuration files.
#
# ex.: ip = 192.168.11.6 (default 127.0.0.1)
#
ip = 127.0.0.1
ipv6 = ::1

# Target host description. These values will be used to SSH into the remote host.
# If hostname is 'localhost', TempestaFW will be ran locally.
#
# ex.: Use a remote host to run TempestaFW:
#       hostname = tempesta.test  (default localhost)
#       user = rtest              (default root)
#       port = 22022              (default 22)
#
# ex.: Use the local host to run TempestaFW (default):
#       hostname = localhost
#
hostname = localhost

# Absolute path to the TempestaFW source tree.
#
# ex.: srcdir = /home/user/tempesta (default /root/tempesta)
#
srcdir = /root/tempesta

# Absolute path to directory with tempesta config etc
#
# ex.: workdir = /tmp/tempesta (default /tmp/tempesta)
#
workdir = /tmp/tempesta

# Workdir-relative path to the temporary TempestaFW config
# (created during testing).
#
# ex.: config = etc/tempesta_test.conf (default tempesta.conf)
#
config = tempesta.conf

# Workdir-relative path to the temporary TempestaFW template config
# (created during testing).
#
# ex.: tmp_config = etc/tempesta_tmp_test.conf (default tempesta_tmp.conf)
#
tmp_config = tempesta_tmp.conf

# Timeout to wait if node is unavaliable
# ex.: unavaliable_timeout = 300 (default 300)
unavaliable_timeout = 300

[Server]
# Configuration for the host running HTTP servers. They may be configured to run
# locally or remotely (using SSH). Refer to README.md for more information.

# IPv4 and IPv6 addresses of the host running HTTP servers in the test network,
# as reachable from the host running TempestaFW.
#
# It's important to set different IPs for Tempesta and servers when testing
# ip_block Frang directive on the Loopback interface (which is default),
# because otherwise Netfilter can block what was not intended.
#
# ex.: ip = 192.168.11.7 (default 127.0.0.1)
#
ip = 127.0.0.1
ipv6 = ::1

# Target host description. These values will be used to SSH into the remote host.
# If hostname is 'localhost', HTTP servers will be ran locally.
#
# ex.: Use a remote host to run HTTP servers:
#       hostname = remote.com   (default localhost)
#       user = rtest            (default root)
#       port = 22022            (default 22)
#
# ex.: Use the local host to run HTTP servers (default):
#       hostname = localhost
#
hostname = localhost

# NGINX binary. Must be present in PATH or absolute path must be given.
#
# ex.: nginx = /usr/bin/nginx (default nginx)
#
nginx = nginx

# Absolute path to the working (temporary) directory on the server host.
#
# ex.: workdir = /home/user/nginx (default /tmp/nginx)
#
workdir = /tmp/nginx

# Absolute path to the sample web site root location. Must be reachable by nginx.
#
# ex.: resources = /usr/share/nginx/http/ (default /var/www/html/)
#
resources = /var/www/html/

# If we need to create many aliases of interface to listen > 64k ports
# we need to specify interface, where aliases will be created
#
# ex.: aliases_interface = enp2s0
#
# this will create aliases enp2s0:0, enp2s0:1, etc
#
aliases_interface = eth0

# Base IP address of interfaces.
#
# ex. aliases_base_ip = 192.168.10.1
#
# eth0:0 will have ip 192.168.10.1
# eth0:1 will have ip 192.168.10.2
#
# etc
#
aliases_base_ip = 192.168.10.1

# Maximal workers amount
# -1 for unlimited

max_workers = 16

# names of the container with the tempesta-tech.com website
# See https://github.com/tempesta-tech/tempesta-tech.com/tree/master/container#container-deployment
lxc_container_name = tempesta-site-stage

# website_user and website_password - login and pwaaword for tempesta-tech.com tests.
# It must exist in SQL dump in tempesta-tech repo.
